deliverables
bin
.preprocessed
.settings
~$*
actionscript/HelloMofiler/bin-debug/HelloMofiler.swf
actionscript/HelloMofiler/bin-debug/HelloMofiler-app.xml
actionscript/HelloMofiler/bin-debug/HelloMofiler-app.xml
actionscript/HelloMofiler/bin-debug/HelloMofiler.swf
actionscript/HelloMofiler/bin-debug/HelloMofiler-app.xml
actionscript/HelloMofiler/bin-debug/HelloMofiler-app.xml
actionscript/HelloMofiler/bin-debug/HelloMofiler-app.xml
actionscript/HelloMofiler/bin-debug/HelloMofiler.swf
