deliverables
bin
build
.preprocessed
.settings
.DS_Store
~$*
actionscript/HelloMofiler/bin-debug/HelloMofiler.swf
actionscript/HelloMofiler/bin-debug/HelloMofiler-app.xml
actionscript/HelloMofiler/bin-debug/HelloMofiler-app.xml
actionscript/HelloMofiler/bin-debug/HelloMofiler.swf
actionscript/HelloMofiler/bin-debug/HelloMofiler-app.xml
actionscript/HelloMofiler/bin-debug/HelloMofiler-app.xml
actionscript/HelloMofiler/bin-debug/HelloMofiler-app.xml
actionscript/HelloMofiler/bin-debug/HelloMofiler.swf

actionscript/Mofiler-ANE/ios/Mofiler-ios/MofilerExt.xcodeproj/project.xcworkspace/xcuserdata/bryantafel.xcuserdatad/
actionscript/Mofiler-ANE/ios/Mofiler-ios/MofilerExt.xcodeproj/xcuserdata/bryantafel.xcuserdatad/
